*{
    box-sizing: border-box;
}

body{
    background-color: #f1e7da;
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
main {
    margin: 16px;
}

/* Header */
nav {
display: flex;
    justify-content: space-around;
  padding-top: 13px;
  align-items: center;
padding-bottom: 0px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 10px;
}
.heading{
    font-weight: 700;
    color: #ae483d;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}
ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
    margin-left: auto;
   padding-bottom: 10px;
}
li{
    list-style: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
button{
    background-color: #ae483d;
    padding: 16px 27px 16px 27px;
    border: #ae483d;
    color: #f1e7da;
    font-size: calc((.9 - 1) * 1.2vw + 1rem); 
    text-align: center;
    height: 100%;
    margin-bottom: 0px;
}
button a {
    color: #f1e7da;  
}
.menuBar{
    display: none;
}

/* Main */
.menuH{

    text-align: center;
    font-weight: 400;
    padding: 16px;
    color: #ae483d;
    font-size: 50px;
}
.menuUL{
    margin-left: 0px;
}
.menuNav .menuUL .menuLI .menuA:focus{
    color: #ae483d;
    transition: 0.95;
}

.appmenu {
text-align: center;
color:#ae483d;
display: none;
}
.foodmenu{
    text-align: center;
    color:#ae483d;  
    display: none;
}

.appmenu p{
    margin-top: 0px;
    font-weight: lighter;
}
.appmenu h5 {
   margin-bottom: 5px;
}
.foodmenu p{
    margin-top: 0px;
    font-weight: lighter;
}
.foodmenu h5{
    margin-bottom: 5px; 
}
.drinkmenu{
    display: none;
    text-align: center;
    color:#ae483d; 
}







/* footer */

footer {
    margin-top: 300px;
    background-color: #bc9667;
   
}
.footerContainer {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 50px 30px;
    color: #f1e7da;
}
.f1 ,.f2 ,.f3 {
    text-align: center;
}
.footerContainer p {
    font-weight: 300;
}

.hours{
    font-size: 12px;
    padding-bottom: 10px;
}

/* media query  */
@media(max-width:500px){
    header{
        height: auto;
    }
    
nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
nav ul {
    flex-direction: column;
    margin: auto;
    display: none;


}
.menuBar {
    display: block;
    height: 48px;
    background-color: #ae483d;
    color: #f1e7da;
    size: 500px;
   box-sizing: 10px 20px 10px 20px;
   padding: 10px;
   margin-bottom: 10px; 
   margin-top: 10px;
   cursor: pointer;
}
nav ul li {
    padding: 10px;
}
.hButton{
    margin-bottom: 10px;
    display: none;
}

}
